
.icon-star:before { content: '\e800'; } /* '' */
.icon-leaf:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */